<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>AAG Hotspot</vendor>
  <action id="org.aag.hotspot.control">
    <description>Control the AAG cellular hotspot</description>
    <description xml:lang="he">ניהול הרשת המקומית של AAG</description>
    <message>Administrator authentication is required to change AAG Hotspot.</message>
    <message xml:lang="he">נדרש אימות מנהל כדי לשנות את AAG Hotspot.</message>
    <icon_name>network-wireless-hotspot-symbolic</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/aag-hotspot-helper</annotate>
  </action>
</policyconfig>
